 <?xml version="1.0"?>
   <robot name="deltarobot">

    <link name="base_link">
      <visual>
        <geometry>
          <box size="0.9 0.5 0.01"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0.18"/>
        <material name="blue">
          <color rgba="0 0 0.8 1"/>
        </material>
      </visual>
    </link>

    <link name="upon_deck">
      <visual>
        <geometry>
          <box size="0.9 0.5 0.01"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0.43"/>
        <material name="blue">
          <color rgba="0 0 0.8 1"/>
        </material>
      </visual>
    </link>
<!--
    <link name="perception_deck">
      <visual>
        <geometry>
          <box size="0.9 0.5 0.01"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0.46"/>
        <material name="blue">
          <color rgba="0 0 0.8 1"/>
        </material>
      </visual>
    </link>
-->
    <link name="wheel_left">
      <visual>
        <geometry>
          <cylinder length="0.03" radius="0.0635"/>
        </geometry>
        <origin rpy="1.57 0 0" xyz="0.0 0.27 0.08"/>
        <material name="black">
          <color rgba="0 0 0 1"/>
        </material>
      </visual>
    </link>

    <link name="wheel_right">
      <visual>
        <geometry>
          <cylinder length="0.03" radius="0.0635"/>
        </geometry>
        <origin rpy="1.57 0 0" xyz="0.0 -0.27 0.0635"/>
        <material name="black">
          <color rgba="0 0 0 1"/>
        </material>
      </visual>
    </link>

    <link name="wheel_track">
      <visual>
        <geometry>
          <box size="0.04 0.231 0.002"/>
        </geometry>
        <origin rpy="0 0 0" xyz="-0.005 0.0 0.06"/>
        <material name="white"/>
      </visual>
    </link>

    <link name="caster_wheel_right_one">
      <visual>
        <geometry>
          <cylinder length="0.012" radius="0.025"/>
        </geometry>
        <origin rpy="1.57 0 0" xyz="-0.630 0.25 0.025"/>
        <material name="black">
          <color rgba="0 0 0 1"/>
        </material>
      </visual>
    </link>

    <link name="caster_wheel_right_two">
      <visual>
        <geometry>
          <cylinder length="0.012" radius="0.025"/>
        </geometry>
        <origin rpy="1.57 0 0" xyz="0.630 0.25 0.025"/>
        <material name="black">
          <color rgba="0 0 0 1"/>
        </material>
      </visual>
    </link>

    <link name="caster_wheel_left_one">
      <visual>
        <geometry>
          <cylinder length="0.012" radius="0.025"/>
        </geometry>
        <origin rpy="1.57 0 0" xyz="-0.630 -0.25 0.025"/>
        <material name="black">
          <color rgba="0 0 0 1"/>
        </material>
      </visual>
    </link>

    <link name="caster_wheel_left_two">
      <visual>
        <geometry>
          <cylinder length="0.012" radius="0.025"/>
        </geometry>
        <origin rpy="1.57 0 0" xyz="0.630 -0.25 0.025"/>
        <material name="black">
          <color rgba="0 0 0 1"/>
        </material>
      </visual>
    </link>

    <!--link name="laser">
      <visual>
        <geometry>
          <box size="0.06 0.06 0.086"/>
        </geometry>
        <material name="red">
          <color rgba="255 0 0 0.8"/>
        </material>
      </visual>
    </link-->
    
    <link name="laser_front">
      <visual>
        <geometry>
          <box size="0.06 0.06 0.086"/>
        </geometry>
        <material name="red">
          <color rgba="255 0 0 0.8"/>
        </material>
      </visual>
    </link>

    <!--link name="laser_back">
      <visual>
        <geometry>
          <box size="0.06 0.06 0.086"/>
        </geometry>
        <material name="black"/>
      </visual>
    </link-->
    

    <link name="left_cover_one">
      <visual>
        <geometry>
          <box size="0.01 0.5 0.4015"/>
        </geometry>
        <origin rpy="0 0 0" xyz="-0.650 0 0.23025"/>
        <material name="silver">
          <color rgba="192 192 192 0.6"/>
        </material>
      </visual>
    </link>

    <link name="left_cover_two">
      <visual>
        <geometry>
          <box size="0.90 0.01 0.4015"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0.0 0.33 0.23025"/>
        <material name="silver">
          <color rgba="192 192 192 0.6"/>
        </material>
      </visual>
    </link>

    <link name="right_cover_one">
      <visual>
        <geometry>
          <box size="0.9 0.01 0.4015"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0.0 -0.33 0.23025"/>
        <material name="silver">
          <color rgba="192 192 192 0.6"/>
        </material>
      </visual>
    </link>

    <link name="right_cover_two">
      <visual>
        <geometry>
          <box size="0.01 0.50 0.4015"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0.650 0.0 0.23025"/>
        <material name="silver">
          <color rgba="192 192 192 0.6"/>
        </material>
      </visual>
    </link>

    <joint name="base_to_wheel_left" type="fixed">
      <parent link="base_link"/>
      <child link="wheel_left"/>
      <origin xyz="0 0 0"/>
    </joint>

    <joint name="base_to_wheel_right" type="fixed">
      <parent link="base_link"/>
      <child link="wheel_right"/>
      <origin xyz="0 0 0"/>
    </joint>

    <joint name="base_to_wheel_track" type="fixed">
      <parent link="base_link"/>
      <child link="wheel_track"/>
      <origin xyz="0 0 0"/>
    </joint>

    <joint name="base_to_caster_wheel_right_one" type="fixed">
      <parent link="base_link"/>
      <child link="caster_wheel_right_one"/>
      <origin xyz="0 0 0"/>
    </joint>

    <joint name="base_to_caster_wheel_right_two" type="fixed">
      <parent link="base_link"/>
      <child link="caster_wheel_right_two"/>
      <origin xyz="0 0 0"/>
    </joint>

    <joint name="base_to_caster_wheel_left_one" type="fixed">
      <parent link="base_link"/>
      <child link="caster_wheel_left_one"/>
      <origin xyz="0 0 0"/>
    </joint>

    <joint name="base_to_caster_wheel_left_two" type="fixed">
      <parent link="base_link"/>
      <child link="caster_wheel_left_two"/>
      <origin xyz="0 0 0"/>
    </joint>

    <!--joint name="laser" type="fixed">
      <parent link="base_link"/>
      <child link="laser"/>

      <origin rpy="0 0 0" xyz="-0.36 0.0 0.4740"/>
    </joint-->
    
    
    <joint name="base_to_laser_front" type="fixed">
      <parent link="base_link"/>
      <child link="laser_front"/>
      
      <origin rpy="0 0 0" xyz="0.61 0.0 0.14"/>
    </joint>

    <!--joint name="base_to_laser_back" type="fixed">
      <parent link="base_link"/>
      <child link="laser_back"/>
     
      <origin rpy="0 0 0" xyz="0.36 0.0 0.4740"/>
    </joint--> 
    

    <joint name="base_to_left_pole_one" type="fixed">
      <parent link="base_link"/>
      <child link="left_cover_one"/>
      <origin xyz="0 0 0"/>
    </joint>

    <joint name="base_to_left_pole_two" type="fixed">
      <parent link="base_link"/>
      <child link="left_cover_two"/>
      <origin xyz="0 0 0"/>
    </joint>

    <joint name="base_to_right_pole_one" type="fixed">
      <parent link="base_link"/>
      <child link="right_cover_one"/>
      <origin xyz="0 0 0"/>
    </joint>

    <joint name="base_to_right_pole_two" type="fixed">
      <parent link="base_link"/>
      <child link="right_cover_two"/>
      <origin xyz="0 0 0"/>
    </joint>
<!--
    <joint name="base_to_perception_deck" type="fixed">
      <parent link="base_link"/>
      <child link="perception_deck"/>
      <origin xyz="0 0 0"/>
    </joint>
-->

    <joint name="base_to_upon_deck" type="fixed">
      <parent link="base_link"/>
      <child link="upon_deck"/>
      <origin xyz="0 0 0"/>
    </joint>   

  </robot>
