<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
		 Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
		 For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="TY2_SW">

	<material name="red">
		<color rgba="1 0 0 1"/>
	</material>
	<material name="yallow">
		<color rgba="1 1 0 1"/>
	</material>
	<material name="white">
		<color rgba="1 1 1 1"/>
	</material>
	<material name="black">
		<color rgba="0 0 0 1"/>
	</material>

	<link name="base_footprint">
	</link>
	<link name="base_link">
		<visual>
			<geometry>
				<box size="0.8 0.48 0.37" />
			</geometry>
			<origin xyz="0 0 0.1" rpy="0 0 0" />
			<material name="red" />
		</visual>
	</link>
	<link name="Lwheel_link">
		<visual>
			<geometry>
				<cylinder length="0.05" radius="0.11" />
			</geometry>
			<material name="black" />
		</visual>
	</link>
	<link name="Rwheel_link">
		<visual>
			<geometry>
				<cylinder length="0.05" radius="0.11" />
			</geometry>
			<material name="black" />
		</visual>
	</link>
	<link name="scanF_link">
		<visual>
			<geometry>
				<box size="0.14 0.14 0.08" />
			</geometry>
			<origin xyz="0 0 0.03" rpy="0 0 0" />
			<material name="yallow" />
		</visual>
	</link>
	<link name="scanB_link">
		<visual>
			<geometry>
				<box size="0.14 0.14 0.08" />
			</geometry>
			<origin xyz="0 0 0.03" rpy="0 0 0" />
			<material name="yallow" />
		</visual>
	</link>
	<link name="realsensor_link">
		<visual>
			<geometry>
				<box size="0.05 0.16 0.05" />
			</geometry>
			<material name="white" />
		</visual>
	</link>
	<link name="imu_ch110_link">
		<visual>
			<geometry>
				<box size="0.04 0.4 0.025" />
			</geometry>
			<material name="black" />
		</visual>
	</link>

	<joint name="basefootprint_to_base_joint" type="fixed">
		<origin xyz="0 0 0.11" rpy="0 0 0" />
		<parent link="base_footprint" />
		<child link="base_link" />
	</joint>
	<joint name="body_to_Lwheel_joint" type="fixed">
		<origin xyz="0 0.2738 0" rpy="-1.5707 0 0" />
		<parent link="base_link" />
		<child link="Lwheel_link" />
		<axis xyz="0 1 0" />
	</joint>
	<joint name="body_to_Rwheel_joint" type="fixed">
		<origin xyz="0 -0.2738 0" rpy="1.5707 0 0" />
		<parent link="base_link" />
		<child link="Rwheel_link" />
		<axis xyz="0 1 0" />
	</joint>
	<joint name="body_to_scanF_joint" type="fixed">
		<origin xyz="0.340895 -0.2383385 0.25535" rpy="0 0 -0.7853981634" />
		<parent link="base_link" />
		<child link="scanF_link" />
	</joint>
	<joint name="body_to_scanB_joint" type="fixed">
		<origin xyz="-0.340895 0.2383385 0.25535" rpy="0 0 2.3561944902" />
		<parent link="base_link" />
		<child link="scanB_link" />
	</joint>
	<joint name="body_to_realsensor_joint" type="fixed">
		<origin xyz="0.4129 0 0.2675" rpy="0 0 0" />
		<parent link="base_link" />
		<child link="realsensor_link" />
	</joint>
	<joint name="body_to_imu_joint" type="fixed">
		<origin xyz="0 0 -0.0246" rpy="0 0 0" />
		<parent link="base_link" />
		<child link="imu_ch110_link" />
	</joint>

	<link name="lidarprom_link">
	</link>
	<joint name="lidarprom_to_body_joint" type="fixed">
		<origin xyz="0 0 0.25535" rpy="0 0 0" />
		<parent link="base_link" />
		<child link="lidarprom_link" />
	</joint>


</robot>