<!--
	@file name : navigation_test.launch
	@author : Tsai,Li-Chun
	@brief  : 
-->

<launch>

	<arg name="map_file" default="trainingArea_2F_gmapping" />

	<!-- <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0.0 0.0 0.0 0 0 0.0 /map /odom 40" /> -->
	<!-- <node pkg="tf" type="static_transform_publisher" name="odom_to_basefootprint" args="0.0 0.0 0.0 0 0 0.0 /odom /base_footprint 40" /> -->

	<node name="map_server" pkg="map_server" type="map_server" args="$(find slam_navigation)/map/$(arg map_file).yaml"/>
	<!-- <node name="keyboard_node" pkg="keyboard" type="keyboard_node" /> -->
	<!-- <node name="joy_node" pkg="joy" type="joy_node" />
	<node name="joy_control_node" pkg="keyboard" type="joy_control_node" /> -->
	<!-- <node name="fake_cmdvel" pkg="keyboard" type="fake_cmdvel" /> -->
	<node name="main_motorController" pkg="motor_controller" type="main_motorController" output="screen" />
	<node name="main_tf_odometry"  pkg="odometry_transform" type="main_tf_odometry" output="screen" />
	<include file="$(find sick_safetyscanners)/launch/sick_safetyscanners.launch" />
	<include file="$(find imu_launch)/launch/imu_msg.launch" />
	<include file="$(find robot_pose_ekf)/robot_pose_ekf.launch" />

	<!-- <include file="$(find slam_navigation)/launch/gmapping_test.launch" /> -->
	<include file="$(find delta_amr2st_urdf)/launch/display.launch" />
	<include file="$(find slam_navigation)/launch/amcl_test.launch" />
	<include file="$(find slam_navigation)/launch/move_base_test1.launch" />

	  <!-- rqt_plot -->
  <!-- <node pkg="rqt_plot" name="rqt_plot" type="rqt_plot"/> -->

</launch>
