<!--
	@file name : try_mapping.launch
	@author : Tsai,Li-Chun
	@param mapping_mode : required item, select mapping algorithm package
 	@param control_mode : optional, controls move of the AMR in driver,
						  default="keyborad"
	@brief  : 
-->

<launch>

	<arg name="mapping_mode" default="gmapping"/>
	<arg name="control_mode" default="joy"/>

	<group if="$(eval control_mode=='keyborad')">
		<node name="keyboard_node" pkg="keyboard" type="keyboard_node" />
	</group>
	<group if="$(eval control_mode=='joy')">
		<node name="joy_node" pkg="joy" type="joy_node" />
		<node name="joy_control_node" pkg="keyboard" type="joy_control_node" />
	</group>

	<node name="main_motorController" pkg="motor_controller" type="main_motorController" output="screen">
	</node>
	
	<include file="$(find imu_launch)/launch/imu_msg.launch" />
	<include file="$(find robot_pose_ekf)/robot_pose_ekf.launch" />

	<include file="$(find delta_amr2st_urdf)/launch/display.launch" />
	<include file="$(find sick_safetyscanners)/launch/sick_safetyscanners.launch" />

	<group if="$(eval mapping_mode=='gmapping')">
		<node name="main_tf_odometry"  pkg="odometry_transform" type="main_tf_odometry" output="screen" />
		<include file="$(find slam_navigation)/launch/gmapping_test.launch" />
	</group>
	<group if="$(eval mapping_mode=='hector')">
		<include file="$(find slam_navigation)/launch/hector_mapping_test.launch" />
	</group>

</launch>
