build/**
devel/**
carto_ws/abseil-cpp/**
carto_ws/build_isolated/**
carto_ws/devel_isolated/**
carto_ws/install_isolated/**
.vscode/**
.catkin_tools/**
.catkin_workspace
.includePath_bak
src/slam_navigation/map/**
src/slam_navigation/bag/**
*.project
*.cproject
*.bag
first_step.sh
richie_build.sh
peien_build.sh
