<launch>
	<arg name="params_file" default="$(find map2gazebo)/config/defaults.yaml" />
	<arg name="export_dir" default="$(find map2gazebo)/models/map/meshes" />
  	<arg name="model" default="$(find delta_amr2st_gazebo)/urdf/AMR_tag/TY2_SW.urdf.xacro"/>
	<arg name="rvizconfig" default="$(find delta_amr2st_gazebo)/rviz/world_module_display.rviz" />
	<arg name="x_init_pos" default="0.0"/>
	<arg name="y_init_pos" default="0.0"/>
	<arg name="z_init_pos" default="0.0"/>
	<param name="robot_description" command="$(find xacro)/xacro $(arg model)" />


	
	<include file="$(find map2gazebo)/launch/gazebo_world_tag_bundle.launch" />
	
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
	<node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" 
		  args="-urdf -model $(arg model) -x $(arg x_init_pos) -y $(arg y_init_pos) -z $(arg z_init_pos) -param robot_description" />
		  
	<include file="$(find ira_laser_tools)/launch/laserscan_multi_merger.launch" />
	<!--include file="$(find rf2o_laser_odometry)/launch/rf2o_laser_odometry.launch" /-->
</launch>
