<!--
DESCRITPION
-->

<launch>
  <!--
  - cartographer  load_frozen_state under pure mode insert landmark set to true 
  - map_server
  - move_base
  - static map
  - rviz view
  -init_pose_filename init_pose/init_pose.lua
  -->

  <arg name="gui" default="false"/>

  <node name="cartographer_node" pkg="cartographer_ros" type="cartographer_node" args="
  -configuration_directory $(find cartographer_ros)/configuration_files/lua_test
  -configuration_basename backpack_2d_new_localization_evaluation.lua
  -load_frozen_state=false
  -load_state_filename /home/deltaagv/ros1_ws/map/new_map.pbstream" output="screen">
  <!--front-->
  <remap from="scan_1" to="/sick_safetyscanners/scanF" />
  <!--back -->
  <remap from="scan_2" to="/sick_safetyscanners/scanB" />
  <remap from="odom" to="/odom_filtered" />
  <!---load_state_filename /home/deltaagv/cartographer.pbstream"-->
  <remap from="imu" to="/imu_data" />
  <remap from="landmark" to="/apriltag_ros_continuous_node/landmark" />
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" args="
  -resolution 0.03
  -pure_localization 1"/>



</launch>

