<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
		 Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
		 For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="tag">
  
	<link name="map">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
		</visual>
	</link>
	<link name="true_tag0">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
		</visual>
	</link>
	<joint name="map_to_truetag0" type="fixed">
		<parent link="map"/>
		<child link="true_tag0" />
		<origin xyz="-0.15 0.0 0.2" rpy="0.0 -1.5708 -1.5708"/>
	</joint>
</robot>