<!--
	@file name : pubsub.launch
	@author : Tsai,Li-Chun
	@brief  : 
-->

<launch>
	<param name="gobel" value="Tsailichun"/>
	<arg name="mode" default="zero"/>
	<group if="$(eval mode=='one')">
		<node name="pub"   pkg="delta_amr2st_urdf" type="talker">
			<remap from="chatter" to="content" />
		</node>
		<node name="sub1" pkg="delta_amr2st_urdf" type="listener">
			<remap from="chatter" to="content" />
		</node>
	</group>

	<group if="$(eval mode=='two')">
		<node name="pub"   pkg="delta_amr2st_urdf" type="talker" output="screen">
			<param name="content" value="alternative hello"/>
		</node>
		<node name="sub1" pkg="delta_amr2st_urdf" type="listener">
		</node>
	</group>

	<node name="sub2" pkg="delta_amr2st_urdf" type="listener" />

</launch>
