<launch>
    <arg name="position" default="gazebo" /> <!-- wheel or gazebo -->
    <arg name="model" default="$(find vis_lecture)/urdf/robot3_simulation.urdf" />
    <arg name="rvizconfig" default="$(find vis_lecture)/rviz/robot2_simulation.rviz" /> 
    <param name="robot_description" command="$(find xacro)/xacro $(arg model) --inorder"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find vis_lecture)/world/robot_simulation.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model robot3_simulation" />

    <group if="$(eval position=='wheel')">
        <param name="/robot3_simulation/diff_drive_controller/enable_odom_tf" value="true" />
    </group>

    <group if="$(eval position=='gazebo')">
        <param name="/robot3_simulation/diff_drive_controller/enable_odom_tf" value="false" />
        <node name="robot3_simulation_tf_publisher" pkg="vis_lecture" type="robot3_simulation_tf_publisher">
        <param name="model_name" value="robot3_simulation" />
        <param name="base_frame" value="base_link" />
        <param name="world_frame" value="odom" />
        </node>
    </group>

    <rosparam command="load"  file="$(find vis_lecture)/config/diff_drive_controller.yaml" ns="/robot3_simulation"/>
    <rosparam command="load"  file="$(find vis_lecture)/config/joint_state_controller.yaml" ns="/robot3_simulation"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/robot3_simulation" 
        args="diff_drive_controller joint_state_controller" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" ns="/robot3_simulation"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

    <node name="joy_node" pkg="joy" type="joy_node" />
    <node name="keyboard_node" pkg="key_board" type="keyboard_node">
        <remap from="/cmd_vel" to="/robot3_simulation/diff_drive_controller/cmd_vel"/>
    </node>
    
</launch>